*.o
a.out
*.so*
cl
srv
*.swp
*.a
*.kdev4
headers/conf.h
C/CMakeFiles/
C/Makefile
C/cmake_install.cmake
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
headers/CMakeFiles/
headers/Makefile
headers/cmake_install.cmake
install_manifest.txt
libsocketConfig.cmake
libsocketConfigVersion.cmake
